@page "/"

<h3>Comprar Libro</h3>
<div class="input-group" style="margin-top: 30px;">
    <span class="input-group-text" id="basic-addon1">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"></path>
        </svg>
    </span>
    <input type="text" class="form-control" placeholder="Buscar" aria-label="Buscar" aria-describedby="basic-addon1">
</div>
<div style="display: flex; flex-direction: column; gap: 30px;margin-top: 60px;">
    @foreach (var libro in libros)
    {
        <LibroComponent libro="@libro"></LibroComponent>
    }
</div>

@code {
    public List<Libro> libros = new List<Libro>()
    {
         new Libro
            {
                Id = 1,
                Nombre = "Cien años de soledad",
                Portada = "https://th.bing.com/th/id/R.938c16d580f65d466de44d9f2ec98732?rik=kqLcyYNhyB9XcQ&pid=ImgRaw&r=0",
                Autor = "Gabriel García Márquez",
                Genero = "Realismo mágico",
                Estrellas = 5,
                Precio = 980.00,
                Sinopsis = "La saga multigeneracional de la familia Buendía en el pueblo ficticio de Macondo, explorando temas de amor, soledad y magia en América Latina."
            },
            new Libro
            {
                 Id = 2,
                Nombre = "Orgullo y prejuicio",
                Portada = "https://imagessl2.casadellibro.com/a/l/t0/82/9788415618782.jpg",
                Autor = "Jane Austen",
                Genero = "Clásico",
                Estrellas = 4,
                Precio = 780.00,
                Sinopsis = "La historia de Elizabeth Bennet y Mr. Darcy, explorando las complejidades de las relaciones sociales y los prejuicios en la Inglaterra del siglo XIX."
            },
            new Libro
            {
                 Id = 3,
                Nombre = "El Silmarillion",
                Portada = "https://cdn.dc5.ro/img-prod/880831941-0.jpeg",
                Autor = "J.R.R. Tolkien",
                Genero = "Fantasía",
                Estrellas = 5,
                Precio = 610.00,
                Sinopsis = "La epopeya de Frodo Bolsón y su viaje para destruir el Anillo Único, enfrentándose a poderes oscuros y criaturas fantásticas."
            },
            new Libro
            {
                 Id = 4,
                Nombre = "1984",
                Portada = "https://th.bing.com/th/id/R.ad02e140eb8c0dbbfda7216ed2f7fec7?rik=384EXC9bs5jbrA&riu=http%3a%2f%2flitstack.com%2fwp-content%2fuploads%2f2013%2f06%2f1984_poster.jpg&ehk=UiFi%2fjD6J%2bRnOXBk8xIBqGJ%2fIC25orI8NNFZFoBqXZ0%3d&risl=&pid=ImgRaw&r=0g",
                Autor = "George Orwell",
                Genero = "Distopía",
                Estrellas = 4,
                Precio = 1000.00,
                Sinopsis = "Una visión distópica de un futuro totalitario donde el gobierno controla todos los aspectos de la vida de las personas."
            },
            new Libro
            {
                Id = 1,
                
                Nombre = "Harry Potter y el caliz de fuego",
                Portada = "https://pictures.abebooks.com/isbn/9788478886456-uk-300.jpg",
                Autor = "J.K. Rowling",
                Genero = "Fantasía",
                Estrellas = 5,
                Precio = 1500.00,
                Sinopsis = "La historia del joven mago Harry Potter y su entrada al mundo de la magia, enfrentándose a desafíos y"
            }
    };
    
}
